// Reference: https://m2.material.io/design/layout/responsive-layout-grid.html#breakpoints
// = breakpoints

$medias:(
    'mobile': (max-width:599px),
    'tablet': (min-width:600px),
    'laptop': (min-width:1240px),
    'desktop': (min-width:1440px)
);

@mixin breakpoint($breakpointList) {
    $conditions : ();
    @each $breakpoint in $breakpointList{
        $conditions: append($conditions, 
        #{inspect(map-get($medias,$breakpoint))}
        , comma);
    }
    @media #{$conditions} {
        @content;
    }
}

// = container

.container{
    width: 100%;
    margin: auto;
    max-width: 90%;
    @include breakpoint(laptop){
        max-width: 1200px;
    }
}


// = flexbox
.flex{
    display: flex;
    &-ai-ct{
        align-items: center;
    }
    &-jc-sb{
        justify-content: space-between;
    }
}